{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-sm-12 col-md-8 text-center mb-3">
                <h1 class="display-4 logo-font text-black">Ssaw</h1>
                <h2 class="display-5 logo-font text-black">Nature Collection</h2>
            </div>
            <div class="col-sm-12 col-md-8 text-center mb-3">
                <!-- carousel with main content -->
                <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block carousel-image" src="/media/spring.jpg"
                                alt="">
                            <div class="carousel-caption d-block">
                                <h5 class="text-black">Spring</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block carousel-image" src="/media/summer.jpg"
                                alt="">
                            <div class="carousel-caption d-block">
                                <h5 class="text-black">Summer</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block carousel-image" src="/media/autumn.jpg"
                                alt="">
                            <div class="carousel-caption d-block">
                                <h5 class="text-black">Aumtumn</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block carousel-image" src="/media/winter.jpg"
                                alt="">
                            <div class="carousel-caption d-block">
                                <h5 class="text-black">Winter</h5>
                            </div>
                        </div>
                    </div>
                    <!-- carousel controls -->
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <i class="fas fa-arrow-left text-black"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <i class="fas fa-arrow-right text-black"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}