{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card">
                <div class="image-container">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid card-area" src="{{ product.image.url }}"
                            alt="{{ product.name }}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }} <span
                            class="lead font-weight-bold mx-5">€{{ product.price }}</span></h5>
                    <p class="card-text">by {{ product.photographer }}</p>
                    {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star"></i>{{ product.rating }} /
                        5</small>
                    {% else %}
                    {% endif %}
                    {% if product.category %}
                    <a class="text-muted ml-4" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.name }}
                    </a>
                    {% endif %}
                </div>
                <form action="{% url 'add_to_bag' product.id %}" method="POST">
                    <div class="card-body">
                        {% if product.has_sizes %}
                        {% csrf_token %}
                        <strong>Sizes:</strong>
                        <select class="form-control w-25" name="product_size" id='id_product_size'>
                            <option value="A6">a6</option>
                            <option value="A5">a5</option>
                            <option value="A4" selected>a4</option>
                            <option value="A3">a3</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <p><strong>Quantity:</strong></p>
                        <select class="form-control w-25" name="quantity" id="id_qty_{{ product.id }}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <input type="submit" class="col-12 btn btn-black rounded-0 text-uppercase"
                            value="Add to Bag">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
            {% else %}
            <h6 class="text-danger"><strong>sorry, not currently in stock.</strong></h6>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<h2 class="logo-font text-center">Product Removed</h2>
<hr class="w-50 mb-1">
{% endif %}
{% endblock %}